*, *::before, *::after {
    box-sizing: border-box;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
}

.calculator {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: minmax(100px, auto) repeat(5, 80px);
    border: 1px solid black;
}

.calculator > button {
    font-size: 1.5rem;
    border: 1px solid black;
    background-color: white;
}

.calculator > button:hover {
    background-color: lightgray;
}

.spanTwo {
    grid-column: span 2;
}

.display {
    grid-column: 1 / -1;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    word-wrap: break-word;
    word-wrap: break-all;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.display .currentOperand {
    color: lightgray;
    font-size: 1rem;
}

.display .previousOperand {
    font-size: 2rem;
}